snippet cre create
	create ${1}
snippet ins insert
	insert ${1}
snippet tab table
	table ${1}
snippet val values
	values ${1}
snippet tim timestamp
	timestamp ${1}
snippet un unsigned
	unsigned ${1}
snippet def default
	default ${1}
snippet eng engine
	engine=${1}
snippet cha charset
	charset=${1}
snippet pri primary
	primary ${1}
snippet auin auto_increment
	auto_increment${1}
snippet cuti current_timestamp
	current_timestamp${1}
