snippet / 单行注释
	{* ${1} *}
snippet in 包含子模板
	{include file=${1}}${2}
snippet if if
	{if ${1}}
	  ${2}
	{/if}
snippet el else
	{else}
	  ${1}
snippet fe foreach
	{foreach ${1}}
	  ${2}
	{/foreach}
snippet se section
	{section ${1}}
	  ${2}
	{/section}
snippet . {$}
	{$${1}}
