snippet ltx
	\LaTeX${1}
snippet dcl
	\documentclass${1}
snippet upk
	\usepackage${1}
snippet be
	\begin{${1}}${2}
snippet en
	\end{${1}}${2}
snippet mt
	\maketitle${1}
snippet ti
	\title{${1}}${2}
snippet au
	\author{${1}}${2}
snippet da
	\date{${1}}${2}
snippet se
	\section{${1}}${2}
snippet sbse
	\subsection{${1}}${2}
snippet sbsbse
	\subsubsection{${1}}${2}
snippet rnc
	\renewcommand{${1}}${2}
snippet toc
	\tableofcontents${1}
snippet np
	\newpage${1}
